# Files
*.o
*~
*.mca
*.dat
*.mcs
crstate.dat*
gmon.out
mtrace
outcast.c
test.c
*.bplan
bases.txt
players.txt
make.depend*

# applications
mcproxy
mcpdump
mcsanvil
minemap
netmine
slimemap
argtest
varint
nbttest
invedit
chunkradar
bptest
spiral

# directories
saved
schematic
bplan
png
csv
pcaps
junk
reg
region
chunks
doc
maps
projects
bases
