# Files
*.o
*~
*.mca
*.dat
*.mcs
crstate.dat*
outcast.c
test.c
bases.txt
players.txt
make.depend*

# applications
mcproxy
mcpdump
mcsanvil
minemap
argtest
varint
nbttest
invedit
bptest

# directories
saved
schematic
bplan
png
csv
doc
projects
