# Files
*.o
*~
*.png
*.mca
*.dat
*.mcs
crstate.dat*
gmon.out
mtrace
outcast.c
test.c
*.bplan
bases.txt

# applications
mcproxy
mcpdump
mcsanvil
minemap
netmine
slimemap
argtest
varint
nbttest
invedit
chunkradar

# directories
saved
pcaps
junk
reg
region
chunks
docs
doc
maps

