html {
  max-width: 1200px;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}

th { 
  background-color:#e0e0ff;
}

td.separator {
  background-color:#e0e0e0;
  font-weight: bold;
}

th, td {
  padding: 5px;
  text-align: left;
}

.striped tr:nth-child(odd) {
  background-color:#ffffe0;
}

tr.toned {
  background-color:#ffffe0;
}

tt {
  background-color:#ffffe0;
  font-weight: bold;
  padding: 5px;
}

.shell {
    background-color: #333;
    color: #3F3;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
    overflow: auto;
}

h1 {
    background-color: #ffd;
    color: #002;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 10px;
    overflow: auto;
}

h2 {
    background-color: #fdf;
    color: #020;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 10px;
    overflow: auto;
}

h3 {
    background-color: #dff;
    color: #200;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
    overflow: auto;
}

